*{
    font-family: sans-serif;
}

.firstDiv{
    display: flex;
    gap: 10px;
}
.firstDiv > span{
    font-size: 25px;
}

 table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }

  thead {
    background-color: #4CAF50;
    color: white;
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  th {
    font-weight: bold;
  }

  @media (max-width: 600px) {
    table {
      font-size: 14px;
    }
  }